#checkout{
    color: #343a40 !important;
}

#logo{
    margin-right: 10px;
}

#hero{
    margin-bottom: 10px;
}

.card{
    background-color: #EFBF38;
    color: black !important;
}

#navigation{
background-color: #EFBF38 !important;
margin-bottom: 10px;
}

body{
    background-color: #763A12;
    font-family: Arial, Helvetica, sans-serif;
}

#footer{
    background-color: #EFBF38 !important;
}

#roll{
    height: 350px !important;
}

#bread{
    height: 350px !important;
}

#cheesecake{
    height: 350px !important;
}

#hero-button{
    background-color: #EFBF38 !important;
    margin-top: 0px;
    border-color: #EFBF38 !important;
    color: black;
}

.cart-items {
    display: none;
}

.btn-menu-crud {
    display: none;
}
@media only screen and (min-width: 580px) {
#hero-title{
    font-size: 50px !important;
    background-color: #EFBF38 !important;
    margin-bottom: 0px;
}
#hero-text{
    font-size: 25px !important;
    background-color: #EFBF38 !important;
    margin-top: 0px;
}
#hero-button{
    background-color: #EFBF38 !important;
    margin-top: 0px;
    border-color: #EFBF38 !important;
}
}

@media only screen and (max-width: 580px){
}