#checkout{
    color: #343a40 !important;
}

#logo{
    margin-right: 10px;
}

#hero{
    margin-bottom: 10px;
}

.card{
    background-color: #EFBF38;
}

#navigation{
background-color: #EFBF38 !important;
margin-bottom: 10px;
}

body{
    background-color: #763A12;
    font-family: Arial, Helvetica, sans-serif;
}

#footer{
    background-color: #EFBF38 !important;
}